#Frontend (React Native / Expo)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# iOS / Android generated folders
ios/
android/
*.keystore
*.gradle
*.iml
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler cache
.metro-health-check*

# TypeScript build info
*.tsbuildinfo

# Local environment files
.env
.env.*
.env.local
.env*.local

#Backend (Python / Flask)
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
instance/
venv/
build/
dist/
.env/  # just in case of a folder named .env


#IDEs & Editors
.vscode/
.idea/
*.swp
*.orig.*

#OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

#Miscellaneous
app-example
.kotlin/
*.pem
